body {
	background: linear-gradient(155deg, #102537, #5050A0);
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.text-message {
	width: fit-content;
	color: #F5F5F5;
	background-color: #446874;
	border-radius: 5px;
}

.Estructura {
	height: 94vh;
	width: 100.9vw;
}

.Contactos {
	position: relative;
	border: 2px solid white;
}

.Conversacion {
	border-color: 2px solid white;
}

.Random {
	border: 2px solid white;
}

.Chat {
	overflow-y:scroll;
	height: 87vh
}

.Configuracion {
	position: relative;
	border: 2px solid white;
}

.EntradaChat {
	position: absolute;
	bottom: 0;
	right: 17vw;
}