body {
	background: linear-gradient(155deg, #102537, #5050A0);
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

.text-message {
	width: fit-content;
	color: #F5F5F5;
	background-color: #446874;
	border-radius: 5px;
}

.navbar {
	height: fit-content;
	width: mi;
}

.Estructura {
	height: 94vh;
	width: 100.6vw;
}

.Contactos {
	position: relative;
	border: solid white;
	border-radius: 30px;
}

.Conversacion {
	
}

.Random {
	border: solid white;
	border-radius: 30px;
}

.Chat {
	overflow-y: scroll;
	height: 87vh;
	border: solid white;
	border-radius: 30px;
}

.Configuracion {
	position: relative;
	border: solid white;
	border-radius: 30px;
}

.EntradaChat {
	position: absolute;
	bottom: 0;
	right: 17vw;
}